@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwind/base";
@import "tailwind/components";
@import "tailwind utilities"; */

/* .hamburger{
    cursor:pointer;
    width: 30px;
    height:30px;
    transition: all 0.25s;
    position: relative;
}
#menu{
    z-index:999
} */

