/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwind/base";
@import "tailwind/components";
@import "tailwind utilities";

.hamburger{
    cursor:pointer;
    width: 24px;
    height:24px;
    transition: all 0.25s;
    position: relative;
}
.top,
.middle,
.bottom{
 position: absolute;
 top: 20;
 left:0;
 width: 24px;
 height: 24px;
 background-color: #0000;
 transform: rotate(0);
 transition: all o.5s;
}
.middle{
    transform: translateY(7px)
}
.bottom{
    transform: translateY(14px)
}
.open{
    transform: rotate(90deg);
    transform: translateY(0px);
     
}
.open .top{
    transform: rotate(45deg) translateY(6px) translateY(6px);
}
.open .middle{
    display: none;
}
.open .bottom{
    transform: rotate(-45deg) translateY(6px) translateY(-6px);
}